@font-face {
  font-family: Space Grotesk;
  src: url("/assets/spacegrotesk-medium.woff2"),
    url("/assets/spacegrotesk-medium.woff");
}

:root {
  --background: #111117;
  --text: #ffffff;
  --disabled: hsla(0, 0%, 55%, 1);
  --highlight: rgba(55, 106, 80, 1);
  --chrome: #f9d054;
  --ie: #2676d3;
  --firefox: #ed5e27;
  --safari: #44aae4;
  --opera: #ec564c;
  --android: #abc549;
}

body {
  font-family: Space Grotesk, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--text);
}

svg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 620px;
  max-height: 620px;
}

header {
  position: fixed;
  top: 48px;
  left: 48px;
  max-width: 300px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

div.month {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  font-size: 24px;
}

a.restart,
a.pause {
  position: fixed;
  right: 48px;
  padding: 8px 16px 8px 16px;
  border: 1px solid var(--text);
  border-radius: 4px;
  text-align: center;
  min-width: 120px;
  color: var(--text);
  text-decoration: none;
  transition: background-color 0.4s;
}

a.restart {
  bottom: 48px;
}

a.pause {
  bottom: 104px;
}

a.restart:hover,
a.pause:hover {
  background-color: var(--text);
  color: var(--background);
}

footer {
  position: fixed;
  bottom: 48px;
  left: 48px;
}

footer span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 0 5px 0 0;
}

div.chrome span.colorKey {
  background-color: var(--chrome);
}

div.ie span.colorKey {
  background-color: var(--ie);
}

div.firefox span.colorKey {
  background-color: var(--firefox);
}

div.opera span.colorKey {
  background-color: var(--opera);
}

div.safari span.colorKey {
  background-color: var(--safari);
}

div.android span.colorKey {
  background-color: var(--android);
}

input:focus {
  outline-color: transparent;
}

input[type="range"] {
  position: fixed;
  height: 200px;
  width: 5px;
  -webkit-appearance: none;
  -moz-apperance: none;
  background-color: #fff;
  outline-color: transparent;
  border-radius: 5px;
  right: 48px;
  top: 104px;
  -webkit-appearance: slider-vertical;
}

div.animation-speed {
  position: fixed;
  right: 48px;
  top: 48px;
}

div.animation-speed span {
  float: right;
  width: 1em;
}

.button-highlight {
  background-color: var(--highlight);
}

.button-disabled {
  color: var(--disabled) !important;
  border: 1px solid var(--disabled) !important;
  cursor: not-allowed;
}

.button-disabled:hover {
  background-color: var(--background) !important;
}
